$app-dark-primary: #5075F6;
$app-dark-primary-highlighted: #4667DB;
$app-dark-secondary: #72E4B9;
$app-light-primary: #5075F6;
$app-light-primary-highlighted: #4667DB;
$app-light-secondary: #72E4B9;

$background-dark-primary: #222;
$background-dark-secondary: #2D2D2D;
$background-dark-sec-ter: #333;
$background-dark-tertiary: #3E3E3E;
$background-light-primary: #FFF;
$background-light-secondary: #F5F5F5;
$background-light-tertiary: #4F4F4F;

$background-shadow-20: #0003;
$background-shadow-50: #0000007F;

$extras-dark-green: #57B29D;
$extras-light-green: #57B29D;
$extras-dark-red: #EA6A64;
$extras-light-red: #EA6A64;
$extras-dark-yellow: #ECAF42;
$extras-light-yellow: #ECAF42;

$text-dark-primary: #222;
$text-dark-secondary: #5E5E5E;
$text-light-primary: #FFF;
$text-light-secondary: #E0E0E0;
